@import url(https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@1&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}

:root{
    --playfair: "Playfair Display SC",serif;
}
.menu{
    margin-top: 40px;
    position: absolute;
    z-index: 999;
    left: 50%;
    transform: translate(-50%);
    background-color: transparent;
}
.menu ul{
    display: flex;
    
}
 .menu ul li{
    list-style: none;
}
.menu ul li a{
    padding: 0 2em .75em 2em;
    border-bottom: 1px solid;
}
.menu ul .logo p{
    margin-top: 10px;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-right: 60px;
}   
.menu ul .logo .zurag{
    width: 31px;
}
.menu a{
    border-bottom: 1px solid;
    text-decoration: none;
    color: white;
    font-size:17px;
    letter-spacing: .1em;
}
.menu a:hover{
    color: yellow;
    transition: all 1s;
}
.container-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}
h1{
    color: white;
    font-size: 100px;
    font-family: var(--playfair);
    font-size: 4.5em;
    border-bottom: 1px solid;
    letter-spacing: 5px;
    text-shadow: 0 0 15px rgb(0 0 0 / 50%);
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(./catimage.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    position: relative;
    display: flex;
}
.gol{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.container .gol .button{
    display: flex;
    justify-content: center;
}
.container .gol .button a{
    text-decoration: none;
    color: white;
    font-size: 4rem;
    margin-bottom: .4125rem;
    font-family: Sacramento,sans-serif;
    font-weight: 300;
    font-style: normal;
}
.container .gol .button a:hover{
    cursor: pointer;
    color: yellow;
    transition: all 1s;
}
.wrapper{
    padding-bottom: 2%;
    min-height: 625px;
}
.header-page{
    display: block;
    float: left;
    margin-right: 2.01406%;
    width: 56.27969%;
    margin-left: 21.86016%;
    margin-top: 3.7125%;
    margin-bottom: 1.85625%;
    text-align: center; 
}
.logotype-small{
    font-weight: 400;
    letter-spacing: .5em;
    font-size: 65%;
    font-family: "Playfair Display SC",serif;
    font-style: normal;
    font: inherit;
    vertical-align: baseline;
}
.wrapper .header-page h1{
    color: #1d1a19;
    border-bottom: 1px solid #49423b;
}
.wrapper .header-page p{
    color: #1d1a19;
    margin: auto auto 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.grid-item{
    text-align: center;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
}
.product-thumb{
    width: 366.016px;
    height: 439.219px;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}
.wrapper .product-grid .grid-item .product-thumb a{
    cursor: pointer;
    transition: all .2s;
}
.wrapper .product-grid .grid-item .product-thumb a img{
    object-fit: cover;
}
.header-mobile{
    display: none;
    width: 60px;
    height: 50px;
}
.header-mobile img{
   width: 100%;
   height: 100%;
}
.header-mobile:hover{
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
    .header-mobile{
        display: inline-block;
    }
}
@media screen and (max-width: 1024px) {
    .menu{
        display: none;
    }
}
.gurav{
    width: 80%;
    height: 40vh;  
    display: flex; 
    margin: 0 auto;
}
.image{
    width: 550px;
    height: 400px;
}
.wrapper .gurav .image img{
    width: 100%;
    height: 100%;
} 
#check:checked ~.menu1 ul{
    display: block;
}
#check:checked ~ .menu1{
    display: block;
}
.menu1 ul li a{
    color: red;
}
.menu1{
    display: none;
}
#check{
    display: none;
}
@media screen and (max-width: 700px) {
    .container{
        font-size: 10px;
    }
}
@media screen and (max-width: 500px) {
    .container{
        font-size: 5px;
    }
}
@media screen and (max-width: 300px) {
    .container{
        font-size: 2px;
    }
}
@media screen and (max-width: 244px) {
    .container{
        font-size: 1px;
    }
}
@media screen and (max-width: 570px) {
    .wrapper .header-page{
        font-size: 10px;
    }
}
@media screen and (max-width: 380px) {
    .wrapper .header-page{
        font-size: 6px;
    }
}
@media screen and (max-width: 700px) {
    .wrapper .gurav{
        display: flex;
        flex-direction: column;   
    }
}
@media screen and (max-width: 630px) {
    .wrapper .gurav .image{
        width: auto;
    }
}
.header-mobile .menu1 a{
    text-decoration: none;
    border: 1px blue solid;
    padding: 4px;
}
.header-mobile .menu1 ul li{
    margin: 9px;
}
